/* Style of App*/
.App {
  text-align: left;
}
 

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
li {
    list-style: none;
    display: inline; 
    margin:20px;    
}
 
.section {
    width: 80%;
    height: 200px; 
    margin:  auto ;
    padding: 0px;
}

.nav {
    width: 100%;
    height: 50px;
    background: #03A9F4; 
    margin-bottom:10px;
}

.main {
    width: 100%;
    height: 2500px;
}

.link {
    color: #fff;
    text-decoration: none; 
    margin:10px;
}

button {  
    background-image: none; 
    padding: 4px 8px;
    color: #fff;
    background-color: #007bff; 
    border:0px; 
}
.time {
    background-color:#ccc;
    border: 1px solid #ccc;
    border-radius: 2px;
    color:#fff;
    display:inline-block
}

input, textarea {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 550px;
}

.small-icon {
    padding: 20px;
    margin: 5px;
    align-self: center;
    width: 32px;
    height: 32px;
    background-color: transparent;
    background-size: 100% 100%;
    border: 0;
    color: black;
    font-size: 0;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
}
 
.dislike {
    background-image: url('../icons/unlike.png');
}

.like {
    background-image: url('../icons/‪like.png');
}

.post-header {
    position: relative; 
}

.post-title-header{
    margin: 0px;
    padding: 5px;
    color: #1a8aaf;
    display:block;
}

.post-option-header{
    position: absolute;
    top: 44px;
    right: 0px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}
.nbre-comment {
    top: 0px;
}

.category-nav {
    margin: 0px;
    padding-top: 10px;
    font-size:28px;
    color:#fff;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.75);
}

.modal {
    position: absolute;
    top: 40px;
    left: 200px;
    right: 200px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
    width:610px;
    height:350px;
} 
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color:red;
}

.delete-margin {
    margin: 0px;
}